

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-weight: 300;
    color: #e5e5e5;
    position: relative;
    // overflow: hidden;
}
.container {
    display: grid;
    grid-template-rows: max-content min-content 20rem;
    grid-template-columns: 1fr;
    transition: all 1s ease-in-out;
}

// UTILITY CLASSES

.pt-md {
    padding-top: 15rem;
}

.pb-md {
    padding-bottom: 15rem;
}