


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    max-width: 100%;
    // overflow-x: hidden;
}
html {
    box-sizing: border-box;
    font-size: 50%; // ==> 8px
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-largest) {
        font-size: 45%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    color: #e5e5e5;
    position: relative;
    // overflow: hidden;
}
.container {
    display: grid;
    grid-template-rows: max-content max-content 20rem;
    grid-template-columns: 1fr;
    transition: all 1s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
        overflow:hidden;
    }
}

// UTILITY CLASSES

.pt-md {
    padding-top: 2.2rem;
    @media only screen and (max-width: 510px) {
        padding-top: .5rem;
    }
}

.pb-md {
    padding-bottom: 15rem;
    @media only screen and (max-width: 510px) {
        padding-bottom: 5rem;
    }
}