.nav-bar {


    &__sticky {
        width: 100%;
        height: 5vh;
        color: $color-primary-3;
        position: fixed;
        opacity: 0;
        z-index: 150;
        transition: all .1s ease-in;

    }
    
    
    &__panel {
        list-style: none;
        display: flex;
        justify-content: space-between;
            

    }

    &__item {
        margin-top: 5rem;
        margin-right: 10rem;
        font-size: 2.1rem;

        text-decoration: none;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $color-primary-1;
                z-index: 180;
                padding: 3rem;
            }
        
        &--lang {
            justify-self: flex-start;
            margin-left: 10rem;
        }

        &--menu {
            
            display: flex;
            justify-content: space-between;
        }
        &--sticky {

            margin-top: 1rem;
            margin-right: 10rem;
            font-size: 2.1rem;
            text-decoration: none;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $color-primary-3;
                z-index: 180;
            }
    }

    }
}