

.nav {
    grid-column: 3 / -1;

    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    opacity: 0;

    transition: all .5s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
    &__items {

        list-style: none;
        
        margin-top: 10rem;
        &--link {
            font-size: 2.1rem;
            cursor: pointer;

            @media only screen and (max-width: $bp-large) {
                font-size: 2.7rem;
            }
            
            a {
                color: rgba($color-blue-1, .2);
                text-decoration: none;
                transition: all .3s ease ;

                &:hover {
                    color: rgba($color-blue-1, 1);
                }
            }
        }
    }

    
}






.nav-bar {

    margin-top: 5rem;

    &__sticky {
        width: 100%;
        height: 5vh;
        color: $color-primary-3;
        position: fixed;
        opacity: 1;
        z-index: 150;
        transition: all .1s ease-in;

    }
    
    
    &__panel {
        list-style: none;
        display: flex;
        justify-content: space-between;
         
        &-left {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15rem;

            @media only screen and (max-width: 510px) {
                margin-left: 4rem;
            }

            &--logo {
                height: 5rem;
                opacity: .9;
            }
        }

        
        &-right {
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 2rem;
            margin-right: 15rem;

            @media only screen and (max-width: 510px) {
                margin-right: 4rem;
            }

        }

    }

    &__item {
        font-size: 2.1rem;

        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        

        &--emil {
            font-family: $font-secondary;
            color: $color-blue-1;
        }    
        
        &--sticky {

            margin-top: 1rem;
            font-size: 2.1rem;
            text-decoration: none;
            cursor: pointer;


            a {
                text-decoration: none;
                
                color: $color-primary-3;
                z-index: 180;
                transition: all .1s ease-in-out;

            }
    }

    }
}

.fixed-nav-bar {

    width: 100vw;
    background-color: $color-primary-1;
    padding: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;

    opacity: 0;

    transition: all .5s ease-in-out;
    @media only screen and (min-width: $bp-medium) {
        display: none;  
    }

    &__logo {
        height: 5rem;
        @media only screen and (max-width: 380px) {
            height: 3rem;   
        }
    }

    
    &__items {

        list-style: none;
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 2rem;


        &--link {
            
            font-size: 2.1rem;
            cursor: pointer;
            color: $color-primary-3;

            
            
            a {
                color: rgba($color-blue-1, .5);
                text-decoration: none;
                transition: all .3s ease ;
                padding: 1rem;

                &:hover {
                    color: rgba($color-blue-1, 1);
                }
            }
        }
    }
}

.active {
    transition: all .5s ease-in-out;
    color:$color-pink-1 !important;
}