

// FONT VARIABLES

$font-primary: 'Martel', serif;
$font-secondary: 'Martel Sans', sans-serif;


// COLORS

$color-primary-1: #FBFBFB;
$color-primary-2: #e5e5e5;
$color-primary-3: #5f4f4f;

$color-blue-1: #1a2669;
$color-blue-2: #060c28;

$color-black: #000000;

