.main {
    background-color: #e5e5e5;
    z-index: 10;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 2fr min-content 2fr;
}

.work {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 60% 20rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.my-gallery {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1.2fr;
    grid-gap: .8rem;

    figure {
        height: 37rem;
        width: 33rem;
        // height: 100%;
        // weight: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.info {
    grid-row: 2/ -1;
    grid-column: 2 /3;

    display: grid;
    grid-template-rows: .8fr 2fr .33fr .66fr .33fr 8rem;
    grid-template-columns:  1fr 5fr 1fr 5fr 1fr;

    font-family: $font-secondary;

    // &__header {
    //     grid-column: 1 / -1;
    //     text-align: center;
    //     font-family: $font-primary;
    // }

    &__text {
        grid-row: 1 / 3;
        grid-column: 2 / 4;

        color: $color-primary-3;
        font-size: 1.7rem;
        text-align: justify;
        z-index: 1;
    }

    &__contact {
        grid-row: 4 / 6;
        grid-column: 1 / 3;
        color: $color-primary-3;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;
        
        
        &-touch {
            font-size: 1.7rem;
            text-transform: uppercase;
        }
    }
    
    &__img {
        grid-row: 2 / 5;
        grid-column: 3 / 5;

        object-fit: cover;
        width: 110%;
        
    }
}

.logo-container {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50rem;

    position: sticky;
    top: 0;

    transition: all .5s ease-in-out;

    &__logo {
        height: 5rem;
        margin-top: 10rem;
    
    }
}