.main {
    background-color: #e5e5e5;
    z-index: 10;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 2fr min-content 2fr;
}

.work {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: max-content 60% 20rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.my-gallery {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8rem;

    figure {
        height: 33rem;
        width: 33rem;
        // height: 100%;
        // weight: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.info {
    grid-row: 2/ -1;
    grid-column: 2 /3;

    display: grid;
    grid-template-rows: min-content .8fr 2fr .33fr .66fr .33fr 20rem;
    grid-template-columns:  1fr 5fr 1fr 5fr 1fr;

    &__header {
        grid-column: 1 / -1;
        text-align: center;
    }

    &__text {
        grid-row: 2 / 4;
        grid-column: 2 / 4;

        color: $color-primary-3;
        font-size: 1.7rem;
        text-align: justify;
        z-index: 1;
    }

    &__contact {
        grid-row: 5 / 7;
        grid-column: 1 / 3;
        color: $color-primary-3;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;
        
        
        &-touch {
            font-size: 1.7rem;
            text-transform: uppercase;
        }
    }
    
    &__img {
        grid-row: 3 / 6;
        grid-column: 3 / 5;

        object-fit: cover;
        width: 110%;
        
    }
}